.env*
*node_modules*
*.next*

# Dependency directories
node_modules/

# Build artifacts
.next/
out/
build/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.idea/
.vscode/
*.swp
.DS_Store

# Miscellaneous
.npm/
.yarn/
.pnp.*
.swc/
coverage/

# Next.js specific
#public/ # Uncomment this if your project uses Gatsby and not Next.js's public directory
